include liquid_plotly/liquid_plotly.umd.js
include liquid_plotly/style.css
include liquid_plotly/metadata.json
include liquid_plotly/package-info.json
include assets/*
include README.md
include LICENSE.md
include package.json
